$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$portrait-image: url(../img/portrait.jpg);
$portrait-image-small: url(../img/portrait_small.jpg);
$background-opacity: 0.9;
